* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 98%;
    margin: auto;
}

header {
    height: 100px;
    background-image: url("..//img/pattern.png");
    background-size: contain;
    background-color: #1aa3ff;
}

header img {
    width: 15%;
    margin-top: 40px;
}

.main-title h1 {
    margin-top: 20px;
    font-size: 45px;
}

#author {
    color: grey;
    font-size: 20px;
}

#the-booleaner {
    color: #1aa3ff;
}

#publication-date {
    color: grey;
    margin-bottom: 20px;
    font-size: 14px;
}

.source-photo {
    font-size: 12px;
    font-weight: bold;
}

.background-yellow {
    background-color: yellow;
}

.unordered-list {
    margin-bottom: 20px;
    margin-left: 20px;
}

thead {
    background-color: #1aa3ff;
    color: white;
}

.background-lightblue {
    background-color: lightblue;
}

main p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.larger {
    width: 50%;
}

.smaller {
    width: 25%;
}

table {
    text-align: left;
    border-collapse: collapse;
}

#may-be-interesting {
    color: grey;
    font-weight: bold;
    margin-top: 30px;
}

.first-image {
    background-image: url("..//img/monitor.jpg");
}

.second-image {
    background-image: url("..//img/graph.jpg");
}

.first-image, .second-image {
    width: 240px;
    height: 180px;
    background-position: center;
    margin-top: 10px;
}

.first-image-text, .second-image-text {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}




